@media screen and (max-width:1220px)
{
    body.node-type-child-and-youth-page
    {
        #block-menu-menu-child-and-youth-menu
        {
            width:200px;
        }

        #block-system-main>div
        {
            padding:0 30px 30px 30px;
        }

        #content
        {
            max-width:520px;
        }

        #main-wrapper>div>div>div
        {
            max-width:740px;
        }

        #block-views-child-and-youth-gallery-block
        {
            a.arrow-left, a.arrow-right
            {
                width:25px;
                height: 25px;
                background-size:contain;
            }
            a.arrow-left
            {
                left:-28px;
            }
            a.arrow-right
            {
                right:-28px;
            }
        }
    }
}



@media screen and (max-width:1060px)
{
    #footer
    {
        #block-menu-menu-footer-menu
        {
            width:600px;
            margin:0 auto;
            position: relative;
        }

        a.donate
        {
            left:50%;
            margin-left:110px;
        }

        #block-block-4
        {
            position: static;
            margin: 30px auto 5px auto;
        }

        #footer-search
        {
            position: relative;
            top: 0;
            margin:0 auto;
        }
        #footer-social
        {
            position: relative;
            top: 0;
            right: 0;
            margin:-26px auto 0 auto;
            width:140px;
        }

        #site-by-cci
        {
            margin-top:20px;
            position: static;
            text-align: center;
        }
    }

    form#webform-client-form-34,
    form#volunteer-application-form-entityform-edit-form
    {
        label
        {
            width:100%;
            margin-right:0;
            clear:left;
        }

        .description
        {
            width:auto;
        }

        .form-item .form-checkboxes
        {
            overflow: visible;
            clear: left;
        }

        #webform-component-please_review_to_ensure_your_information_is_correct .form-checkboxes label
        {
            display: block;
            color:transparent;
            text-indent:-99999px;
        }
        #webform-component-please_review_to_ensure_your_information_is_correct:not(#foo) .form-checkboxes input + label:after
        {
            left:0;
            right:auto;
        }
    }

    form#webform-client-form-35,
    form#report-a-concern-entityform-edit-form
    {
        label
        {
            width:100%;
            margin-right: 0;
        }

        .description
        {
            width: auto;
        }

        #webform-component-phone_number
        {
            margin-bottom:10px;
            padding:3px 0;

            input
            {
                float:none;
            }
        }

        #webform-component-first_nations
        {
            clear:left;
            margin-bottom: 10px;
            padding: 3px 0;
        }
    }
}



@media screen and (max-width:1000px)
{
    body.node-type-child-and-youth-page
    {
        #block-menu-menu-child-and-youth-menu
        {
            width:185px;
        }

        #content
        {
            max-width:420px;
        }

        #main-wrapper>div>div>div
        {
            max-width:640px;
        }

        #bird
        {
            left:-25px;
        }

        #block-menu-menu-youth-zone-menu .content ul
        {
            width:auto;
            margin-right:0;
            margin-bottom: 30px;
            float: none;

            li
            {
                width:auto;
                display: block;
            }
        }
    }

    #sidebar
    {
        width:180px;

        #logo img
        {
            width:90%;
            height:auto;
        }

        #block-block-1 img
        {
            width:100%!important;
            height:auto!important;
        }

        #block-system-main-menu > .content>div>ul
        {
            margin-left:15px;
            margin-right:15px;

            li.expanded
            {
                & > a
                {
                    padding-right:15px;
                    background-position:99% center;
                }
                & > div
                {
                    margin-left:15px;
                }
            }

        }
    }

    #page-wrapper
    {
        padding-left:180px;
    }
}



@media screen and (max-width:940px)
{
    #section-icons
    {
        width:100%;
        max-width:400px;
        margin:0 auto;

        a
        {
            margin-top:5px;
            margin-bottom:5px;
        }
    }

    #block-views-highlight-block
    {
        height:auto;

        .content
        {
            height: auto;
        }

        .views-field-body
        {
            padding-left:0;
            margin: 0 auto;
            padding:0 20px;
            max-width:400px;
            width:auto;

            &:after
            {
                display: none;
            }
        }

        .views-field-field-link
        {
            width: auto;
        }

        .views-field-field-image
        {
            position: static;
            margin-top:30px;

            img
            {
                display: block;
                width: 100%;
                height: auto;
                max-width:480px;
                margin:0 auto;
            }
        }
    }

    #top .block ul.menu li
    {
        margin-right:10px;
    }

    #block-menu-menu-staff-menu,
    #block-menu-menu-board-member-menu,
    #block-menu-menu-foster-parent-and-volunteer
    {
        width:auto;
        float: none;
        margin:0;

        .content > div > ul li a
        {
            width: auto;
        }
    }

    #sidebar #block-system-main-menu>.content>div>ul>li>div>ul>li
    {
        padding-right:10px;

        &.first
        {
            padding-left:10px;
        }
    }
}



@media screen and (max-width:805px),
screen and (max-device-width:1024px) and (min-device-width:768px) and (orientation:landscape),
screen and (max-height:580px)
{
    #sidebar
    {
        position: static;
        width: auto;
        height: auto;
        padding-top:42px;

        #logo
        {
            padding-bottom:20px;
            margin-bottom: 30px;

            img
            {
                max-width:200px;
            }
        }

        a#menu-btn
        {
            display: block;
        }

        #block-block-1
        {
            img
            {
                max-width:220px;
                display: block;
                margin: -5px auto 0 auto;
            }

            &:after
            {
                content:"";
                display: block;
                border-bottom:3px solid white;
                margin-top:-5px;
            }
        }

        .region-sidebar
        {
            position: relative;
        }

        #block-system-main-menu
        {
            display:none;
            position: absolute;
            top:51px;
            right: 0;
            left: 0;
            z-index: 999;
            background: $blue;
            border-bottom:3px solid white;
            box-shadow:0 2px 5px rgba(0,0,0,0.5);

            & > .content > div > ul > li
            {
                &:hover > a
                {
                    background: $orange;
                }

                & > a,
                &.expanded > a
                {
                    padding:16px 0;
                }
            }

            ul div
            {
                display: none!important;
            }

            #block-menu-menu-social-menu-2
            {
                display: block;

                & > .content
                {
                    text-align:center;

                    li
                    {
                        display:inline-block;
                        margin:14px 5px;
                    }

                    a
                    {
                        width:23px;
                        height: 24px;
                        display: block;
                        background-repeat: no-repeat;
                        background-position:left center;
                        color:transparent;
                        text-indent:-99999px;

                        &.fb
                        {
                            background-image: url(../images/fb.png);
                        }
                        &.linkedin
                        {
                            background-image: url(../images/in.png);
                        }

                        &:hover
                        {
                            background-color:none;
                            background-position:-23px center;
                        }
                    }
                }
            }
        }
    }

    #page-wrapper
    {
        padding-left: 0;
        padding-top: 0;
    }

    #top
    {
        position: absolute;
    }

    #kids-zone-banner:after
    {
        display: none;
    }

    #block-menu-menu-staff-menu,
    #block-menu-menu-board-member-menu,
    #block-menu-menu-foster-parent-and-volunteer
    {
        & > .content
        {
            display: none;
        }

        .member-menu-btn
        {
            display: block;
        }
    }

    #page-title h1 img
    {
        display: none;
    }

    form#webform-client-form-74,
    form#foster-application-form-entityform-edit-form
    {
        label,
        .field-widget-date-select legend
        {
            width:100%;
            margin-right:0;
            margin-left:0;
        }

        .form-radios,
        .form-checkboxes,
        .form-actions
        {
            padding-left:0;
        }

        .form-checkboxes
        {
            overflow: visible;
        }
    }

    #page-title:after
    {
        display: none;
    }
}



@media screen and (max-width:640px)
{
    #footer
    {
        #block-menu-menu-footer-menu
        {
            width:auto;

            &:before, &:after
            {
                display: none;
            }

            .content>ul
            {
                column-count:auto;
                -webkit-column-count:auto;
                -moz-column-count:auto;
                width:auto;
                height: auto;
                overflow: visible;
                margin:0;
                text-align:center;

                li
                {
                    width: auto;
                    margin-left: 0;
                }
            }
        }

        a.donate
        {
            position: static;
            margin:0 auto;
        }
    }

    #top
    {
        font-size:0.7em;

        a
        {
            max-width:64px!important;
            display: inline-block;
            vertical-align: middle;
            line-height: 100%;
            text-align: center;

            &:hover
            {
                margin-top:1px;
            }
        }

        .block ul.menu li
        {
            margin-right:5px;
        }
    }

    #block-menu-block-2,
    #block-views-programs-and-services-menu-bl
    {
        padding:6px 30px;

        & > .content ul,
        .view-content ul
        {

            li
            {
                display: block;

                a
                {
                    line-height:2em;
                }
            }
        }
    }

    body.page-user,
    body.page-user-login
    {
        form#user-login
        {
            width:210px;
            margin:0 auto;
            overflow: visible;

            label
            {
                display: block;
            }

            .form-actions
            {
                clear: both;
            }

            #edit-submit
            {
                display: block;
                float: none;
                text-align: center;
                padding: 0;
                position: relative;
                margin: 0 auto;
                top:20px;
            }
        }
    }

    body.node-type-forum #block-system-main
    {
        .group-left
        {
            float: none;
            width: auto;
            padding-top: 15px;

            & > div
            {
                border-right:0;
                padding-right:0;
            }
        }

        .group-right
        {
            float: none;
            width:auto;

            & > div
            {
                border-left:0;
            }
        }

        textarea
        {
            width:100%!important;
        }
    }

    #forum > table
    {
        thead
        {
            display: none;
        }

        tr
        {
            display: block;

            td
            {
                display: block;
                text-align:left!important;
                padding:0;

                &.title
                {
                    border-right:0;
                }
                &.replies
                {
                    border-right:0;
                    padding-bottom:20px;
                    margin-bottom: 20px;
                    border-bottom:1px solid $blue;

                    &:after
                    {
                        content:" replies";
                    }
                }

                &.last-reply
                {
                    display:none;
                }
            }

            &:last-child td.replies
            {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }

    .front #block-system-main
    {
        font-size:1em;
    }

    #block-views-highlight-block .views-field-title
    {
        padding-left:20px;

        h2
        {
            font-size:2em;
            line-height:100%;
            padding:15px 0 15px 85px;
            background-size:contain;
        }
    }

    #block-views-news-and-events-block>h2
    {
        font-size:2em;
        line-height:100%;
        padding-top:20px;
        padding-bottom: 20px;
        text-align: left;
        margin-left:20px;
    }

    #kids-zone-banner
    {
        height:300px;

        & > div
        {
            background-size: cover;
        }

        a.tw
        {
            top:215px;
            left:75px;
        }
        a.go-explore
        {
            top:215px;
            left:150px;
        }
    }

    body.node-type-child-and-youth-page
    {
        #block-menu-menu-child-and-youth-menu
        {
            float: none;
            width: auto;
            margin-top:-120px;
            margin-bottom:75px;

            & > .content
            {
                display: none;

                & > div > ul
                {

                    & > li
                    {
                        padding:0;
                        margin:0;

                        &:before, &:after
                        {
                            display: none;
                        }

                        &.last a.tw
                        {
                            background-position:center center;
                            margin-top: 0;
                        }

                        a
                        {
                            padding:15px 0;
                            text-align: center;
                        }
                    }
                }
            }

            .youth-zone-menu-btn
            {
                display: block;
            }
        }

        #content
        {
            max-width:none;
            width: auto;
            float: none;
        }

        #block-system-main
        {
            max-width:none;
            min-height:0;
        }

        #tree
        {
            bottom:auto;
            top:-200px;
        }
        #nest
        {
            bottom: auto;
            top: -83px;
        }
    }

    #contact-info
    {
        margin-top:80px;
    }
}




@media screen and (max-width:540px)
{
    input[type=text],
    input[type=email],
    input[type=number],
    input[type=password],
    textarea
    {
        display: block;
        width: 100%!important;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
    }

    form#webform-client-form-34,
    form#webform-client-form-35,
    form#webform-client-form-74
    {
        .form-actions
        {
            padding-left:0;
        }

        & > div > .form-item > label,
        & > div > fieldset > div > .form-item > label,
        & > div > fieldset > div > fieldset > div > .form-item > label
        {
            width:100%;
            margin-right:0;
        }
    }
}




@media screen and (max-width:480px)
{
    #page-title
    {
        height:100px;
        min-height:100px;

        h1
        {
            font-size:2em;
        }
    }

    #kids-zone-banner
    {
        height:220px;

        a.tw
        {
            top:160px;
            left:60px;
            height:45px;
            background-size:contain;
        }
        a.go-explore
        {
            top:160px;
            left: 110px;
            height:45px;
            background-size:contain;
        }
    }

    #top #block-menu-menu-social-menu
    {
        display: none;
    }

    #block-system-main .view-news-and-events .views-row
    {
        margin:0;
        width:auto;
    }

    #block-views-news-and-events-block .views-row
    {
        width: auto;
    }
}



@media screen and (max-width:360px)
{
    #top
    {
        font-size:0.65em;

        .block ul.menu li
        {
            margin-right:1px;
        }
    }

    #section-icons a
    {
        width:150px;
        padding-top:70px;
        background-size:60px 60px;
        font-size:1em;
    }
}



@media screen and (max-height:675px)
{
    #logo
    {
        margin-bottom: 30px;
        padding-bottom: 10px;

        img
        {
            width: 170px;
        }
    }

    #block-system-main-menu>.content>div>ul>li>a
    {
        padding-top:6px;
        padding-bottom: 6px;
    }

    #block-block-1 img
    {
        width:200px!important;
        height:auto!important;
        margin:0 auto;
        display: block;
    }
}
