body
{
	font-family:"Arial",serif;
	font-weight: bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input, select, textarea, button
{
	font-family:inherit;
	font-weight:inherit;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;

}

#main-wrapper
{
	font-family:"Arial";
	
	h1, h2, h3, h4, h5, h6
	{
		font-family:"Arial",serif;
		font-weight: bold;
	}
}

#block-menu-menu-child-and-youth-menu .content,
#block-menu-menu-child-and-youth-menu .youth-zone-menu-btn,
body.node-type-child-and-youth-page #page-title,
#block-webform-client-block-59,
#child-and-youth-contact-us-entityform-edit-form,
.view-preschool-links,
.view-school-aged-links,
#block-menu-menu-youth-zone-menu .content
{
	font-family:"cubano",sans-serif;
	font-weight:400;
}
